__pycache__/
.ipynb_checkpoints/
results/
code/bash/S04_Afni-Preproc-fMRI_discovery-cardiac_gated_NORDIC-off/
code/bash/S04_Afni-Preproc-fMRI_discovery-constant_gated_NORDIC-off/
code/bash/S05_Afni-Preproc-fMRI_discovery-cardiac_gated_NORDIC-on/
code/bash/S05_Afni-Preproc-fMRI_discovery-constant_gated_NORDIC-on/
code/bash/S06_Afni-Preproc-fMRI_evaluation-ses-1_NORDIC-off/
code/bash/S06_Afni-Preproc-fMRI_evaluation-ses-2_NORDIC-off/
code/bash/S07_Afni-Preproc-fMRI_evaluation-ses-1_NORDIC-on/
code/bash/S07_Afni-Preproc-fMRI_evaluation-ses-2_NORDIC-on/
code/notebooks/cache/
code/notebooks/saved_images/
code/bash/deprecated_scripts/