code/bash/S02_Afni_Preproc_fMRI_ses-1/
code/bash/S02_Afni_Preproc_fMRI_ses-2/
__pycache__/
.ipynb_checkpoints/
results/
code/bash/S02_Afni_Preproc_fMRI_cardiac_gated/
code/bash/S02_Afni_Preproc_fMRI_constant_gated/
code/bash/S04_Afni_Preproc_fMRI_cardiac_gated.NORDIC/
code/bash/S04_Afni_Preproc_fMRI_constant_gated.NORDIC/
code/bash/S04_Afni_Preproc_fMRI_ses-1_NORDIC/
code/bash/S04_Afni_Preproc_fMRI_ses-2_NORDIC/
code/bash/S05_Afni_Preproc_ses-1.NORDIC_FixNComps/
code/bash/S05_Afni_Preproc_ses-2.NORDIC_FixNComps/
code/notebooks/cache/
