__pycache__/
.ipynb_checkpoints/
results/
code/bash/S02_Afni_Preproc_fMRI_cardiac_gated/
code/bash/S02_Afni_Preproc_fMRI_constant_gated/
code/bash/S04_Afni_Preproc_fMRI_cardiac_gated.NORDIC/
code/bash/S04_Afni_Preproc_fMRI_constant_gated.NORDIC/
code/notebooks/cache/
code/notebooks/saved_images/
code/bash/S03_Afni_Preproc_fMRI_ses-1_NORDIC-off/
code/bash/S03_Afni_Preproc_fMRI_ses-2_NORDIC-off/
code/bash/S04_Afni_Preproc_fMRI_ses-1_NORDIC-on/
code/bash/S04_Afni_Preproc_fMRI_ses-2_NORDIC-on/
